@import '../../_variables'

#about
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 70px 120px 80px
    text-align: center
    color: $text-primary
    background-color: $primary
    cursor: default

    @media screen and ( max-width: $md )
        padding: 70px 50px 80px

    @media screen and ( max-width: $xs )
        padding: 70px 30px 80px

    .about-text
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        padding: 0 300px
        margin-bottom: 40px

        @media screen and ( max-width: $lg )
            padding: 0 250px

        @media screen and ( max-width: $md )
            padding: 0 100px

        @media screen and ( max-width: 600px )
            justify-content: center
            padding: 0

        .image
            width: 200px
            height: 200px
            border-radius: 50%
            float: left
            object-fit: cover
            object-position: center center
            margin-right: 25px
            transform: translateY(4%)

            @media screen and ( max-width: 700px )
                display: none

        .mobile-image
            display: none

            @media screen and ( max-width: 700px )
                display: inline
                margin: 0 0 20px !important
                transform: translateY(0%)!important

    .about-skills
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 25px

        @media screen and ( max-width: $sm )
            display: none

        .skillbar
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            flex: 0 0 calc(20% - 20px)
            margin-bottom: 20px

            @media screen and ( max-width: 1100px )
                flex: 0 0 calc(25% - 20px)

            .type
                display: flex
                align-items: center
                margin-top: -10px

    .about-skills-mobile
        display: none

        @media screen and ( max-width: $sm )
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            width: 100%
            padding: 0 30px
            margin-bottom: 25px

        @media screen and ( max-width: $xs )
            padding: 0

        .skillbar
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            width: 100%

            .type
                display: flex
                align-items: center
                margin-bottom: -10px

    .grid-container
        width: 80%

        @media screen and ( max-width: $md )
            width: 100%

    // .about
    //     width: 80%

    //     .profile-image
    //         width: 200px
    //         height: 200px
    //         border-radius: 50%
    //         object-fit: cover
    //         object-position: center center

    //     .about-text
    //         font-size: 20px

    // .skills
    //     display: flex
    //     flex-direction: column
    //     justify-content: flex-start
    //     align-items: flex-start
    //     width: fit-content

    // .subtitle
    //     text-shadow: 1px 2px 1px #000000CC
    //     margin-bottom: 15px

    .about-card
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        background-color: $secondary
        width: 300px
        height: 100%
        border-radius: 15px
        padding: 20px
        margin: 10px
        z-index: 1

        .icon-wrapper
            display: flex
            justify-content: center
            align-items: center
            width: 80px
            height: 80px
            background: linear-gradient(132deg, rgba(151,182,255,1) 8%, rgba(98,138,235,1) 70%)
            border-radius: 50%

            .icon
                color: white
                font-size: 40px
