@import '../../_variables'

#contact
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 70px 350px 40px
    color: $text-primary
    background-color: $primary
    cursor: default

    @media screen and ( max-width: $md )
        padding: 70px 100px 20px

    @media screen and ( max-width: $sm )
        padding: 70px 100px 20px

    @media screen and ( max-width: $xs )
        padding: 70px 30px 20px

    .contact-card
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $secondary
        width: 200px
        height: 195px
        border-radius: 15px
        padding: 15px
        margin: 10px
        z-index: 2

        .icon-wrapper
            display: flex
            justify-content: center
            align-items: center
            width: 80px
            height: 80px
            background: linear-gradient(132deg, rgba(151,182,255,1) 8%, rgba(98,138,235,1) 70%)
            border-radius: 50%
            margin-bottom: 30px

            .icon
                color: white
                font-size: 40px

        .link
            text-decoration: none
            color: white
            font-size: 16px
            font-family: 'Josefin Sans', sans-serif
            margin-top: 5px

    .contact-form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: fit-content
        margin: 40px 0 10px

        @media screen and ( max-width: $xs )
            width: 100%

        .button
            font-family: 'Glory', sans-serif
            border-radius: 10px
            text-decoration: none
            text-transform: capitalize
            align-self: center
            font-size: 20px
            width: 120px
            height: 37px
            z-index: 20
            color: white
            background-color: $glow-color

            &:hover
                animation: pulse 1s
                box-shadow: 0 0 0 1.5em rgba(white,0)
                background-color: $glow-color

            @keyframes pulse
                0%
                    box-shadow: 0 0 0 0 $glow-color

        .indicator
            transform: translateY(-7%)
