@import '../../_variables'

#contact
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 50px 350px 20px
    text-align: center
    color: $text-primary
    background-color: $primary
    cursor: default

    @media screen and ( max-width: $md )
        padding: 50px 100px 20px

    @media screen and ( max-width: $sm )
        padding: 50px 50px 20px

    @media screen and ( max-width: $xs )
        padding: 50px 20px 20px

    .title-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: fit-content
        margin-bottom: 50px

        .title
            font-family: 'Josefin Sans', sans-serif
            color: #cacaca
            text-shadow: 1px 4px 3px #000000CC
            font-weight: bold
            letter-spacing: 1.5px
            margin-bottom: 10px
            font-size: 40px
            text-transform: uppercase

        .divider
            width: 50%
            height: 5px
            background-color: #cacaca
            box-shadow: 1px 2px 1px #000000CC
            border-radius: 10px

    .contact-form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        margin: 10px 0
