@import '../../_variables'

footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    background-color: $primary
    padding-top: 50px
    color: white
    cursor: default

    #rectangle
        background-color: $secondary
        z-index: 1
        width: 100%
        height: 50px

        @media screen and ( max-width: $sm )
            height: 30px

    #oval
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $secondary
        z-index: 1
        width: 100%
        height: fit-content
        padding: 20px 40px
        border-radius: 70% / 100%
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

        .links
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 15px

            .link
                display: flex
                justify-content: center
                align-items: center
                width: 40px
                height: 40px
                border-radius: 50%
                margin: 0 10px
                background-color: white
                text-decoration: none
                box-shadow: 1px 2px 1px #000000CC
                transition: background-color 0.5s ease-in-out

                &:hover
                    background-color: #3498db

                .icon
                    color: $primary
                    font-size: 22px

        .copyright
            font-family: 'Josefin Sans', sans-serif
            font-weight: normal
            font-size: 15px

        .button
            width: 50px
            height: 50px
            background-color: white
            box-shadow: 1px 2px 1px #000000CC
            margin-top: 20px
            transition: background-color 0.5s ease-in-out

            &:hover
                background-color: #3498db

            .icon
                color: $primary
