@import '../../../_variables'

.card-container
    position: relative
    width: 390px
    height: 300px
    background-color: white

    @media screen and ( max-width: 450px )
        width: 100%

    &:hover > .overlay-up-to-down
        height: 50%
        opacity: 1

    &:hover > .overlay-down-to-up
        height: 50%

    &:hover > .white
        opacity: 0.9
        transition: opacity 0.5s

    .white
        position: absolute
        bottom: 0
        left: 0
        right: 0
        background-color: white
        overflow: hidden
        width: 100%
        height: 100%
        transition: 0.25s ease-in-out
        opacity: 0

    .image
        display: block
        width: 100%
        height: 100%

    .overlay-up-to-down
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: absolute
        opacity: 0
        top: 0
        right: 0
        bottom: 100%
        height: 0
        width: 100%
        transition: 0.25s ease-in-out

    .overlay-down-to-up
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 0
        left: 0
        right: 0
        overflow: hidden
        width: 100%
        height: 0
        transition: 0.25s ease-in-out
